body {
  box-sizing: border-box;
  width: 1366px;
  height: 768px;
  margin: 0 auto;
  background-image: url(./materials-for-hw6/background-1.png);
  background-size: cover;
}

/* HEADER */

.header-container {
  margin-top: 46px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.center-container {
  display: block;
  width: 1030px;
  margin: 0 auto;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.contacts-email {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.contacts-email:hover,
.contacts-number:hover {
  color: #f26522;
}

.contacts-number {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.logo {
  color: #fff;
  padding-left: 61px;
  height: 58px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.first-word-logo {
  height: 30px;
  font-family: Roboto, sans-serif;
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
}
.second-word-logo {
  height: 21px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
.logo::before {
  content: "";
  width: 53px;
  height: 47px;
  background-image: url(./materials-for-hw6/logo-3.svg);
  position: absolute;
  left: 0;
  top: 5px;
}
.logo:hover:before {
  content: "";
  width: 53px;
  height: 47px;
  background-image: url(./materials-for-hw6/logo-2.svg);
  position: absolute;
  left: 0;
  top: 5px;
}

/* MAIN CONTENT */
.main-content {
  margin-top: 17px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 37px 65px;
}
.cards-container {
  width: 300px;
  height: 260px;
}
.cards-link {
  opacity: 1;
  color: #fff;
  width: 300px;
  height: 260px;
}
img {
  display: block;
  max-width: 300px;
  width: 100%;
}
.text {
  color: #fff;
  margin-top: 20px;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

/* HOVER BLOCK */
.card-1 {
  position: relative;
  grid-column-end: span 1;
}
.hover-inform {
  opacity: 0;
  width: 300px;
  height: 55px;
  background: #f26522;
  position: absolute;
  left: 0;
  bottom: 0;
}
.hover-from {
  color: #fff;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  margin: 7px 0 0 16px;
}
.hover-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 0 16px;
}
.price {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.details {
  color: #fff;
  width: 99px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; /* 100% */
  position: relative;
}
.details::after {
  content: "";
  display: block;
  background-image: url(./materials-for-hw6/Vector-1.svg);
  width: 5px;
  height: 8px;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* FOOTER */
footer {
  margin-top: 49px;
}
footer p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
/* HOVER */
.cards-container:hover .hover-inform {
  opacity: 1;
}
.cards-container:hover .text {
  color: #f26522;
}

.logo::before:hover {
  content: "";
  width: 53px;
  height: 47px;
  background-image: url(./materials-for-hw6/logo-2.svg);
  position: absolute;
  left: 0;
  top: 5px;
}
.logo:hover {
  color: #f26522;
}
